* {
  box-sizing: border-box;
}

header {
    background-image: url("../images/background-header.jpg");
    height: 150px;
    width: 100%;
    object-fit: contain;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1 {
    font-size: 3em;
    padding-left: 1.5em;
    align-items: center;
  }

header #coderpic {
    object-fit: contain;
    height: 120px;
    width: 150px;
    padding-right: 1em;
}

nav {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 4px solid black;
  border-top: 4px solid black;
}

nav ul {
    display: flex;
    list-style: none;
  }
 
nav a {
    padding: 0 80px;
    text-decoration: none;
    font-size: 1.5em; 
    text-align: center;   
    color: black;
    font-weight: bold;
    text-decoration: none;
  }

 nav a:hover {
    color: rgb(99, 115, 206);
    font-size: 2em;
  }
 
.card h2 {
  flex: 0 0 200px;
  font-size: 2em;
  padding: 0 10px;
  border-right: 1.25px solid rgb(99, 115, 206);
}

#main-wrapper{
  display: flex;
  flex-direction: column;
}

.card{
  display: flex;
}

h3 {
  font-size: 1.5em;
}

#aboutme, 
#contactme {
  align-items: center;
}

.card div{
  /* border-left: 1.25px solid rgb(99, 115, 206); */
  padding-left: 2em;
}

#allpics{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

#mainwork {
  flex: 1 0 100%;
}

#mainwork img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  height:400px;
  width: 600px;
}

.lastfour {
  display: flex;
  flex: 1 1 400px;
}

 .fourworks img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    height:200px;
    width: 300px;
}

/* #contactme {
  display: flex;
  flex-wrap: wrap;
  padding-top:3em;
  align-items: center;
  justify-content: center;
} */

#contactme ul {
  display: flex;
  list-style: none;
  font-size: 20px;
}

#contactme a {
  justify-content:space-around;
  padding: 14px 80px;
  list-style: none;
  text-decoration: none;
  text-align: center;
  color: black;
  font-weight: bold;
}

#contactme a:hover {
  color: rgb(99, 115, 206);
}
 
 