/* wildcard selector */
* {
  box-sizing: border-box;
}

/* css variable allows you to set colors throughout page */
:root {
  --blue: rgb(230, 235, 249);
  --borderhover: rgb(99, 115, 206);
}

/* formats header area */
header {
  background-image: url("../images/background-header.jpg");
  height: 150px;
  width: 100%;
  object-fit: contain;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* formats coders name */
header h1 {
  font-size: 3em;
  padding-left: 1.5em;
  align-items: center;
}

/* sizes the picture in header */
header #coderpic {
  object-fit: contain;
  height: 120px;
  width: 150px;
  padding-right: 1em;
}

/* nav links are formatted here  */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 4px solid black;
  border-top: 4px solid black;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav a {
  padding: 0 80px;
  text-decoration: none;
  font-size: 1.5em;
  text-align: center;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

/* allows nav links to change color when hovered over */
nav a:hover {
  color: var(--borderhover)
}

/* applies flex container to all of the contents in main */
#main-wrapper {
  display: flex;
  flex-direction: column;
}

#aboutme,
#contactme {
  align-items: center;
}

.card {
  display: flex;
}

.card h2 {
  flex: 0 0 200px;
  font-size: 2em;
  padding: 0 10px;
  border-right: 1.25px solid var(--borderhover);
}

.card div {
  padding-left: 2em;
}

#allpics {
  justify-content: center;
}

/* formats the first picture area and link */
#mainwork {
  flex: 1 0 100%;
  background-color: var(--blue);
  max-width: fit-content;
  max-height: fit-content;
  padding: 32px;
  margin-top: 20px;
}

#mainwork h3 {
  font-size: 1.5em;
  text-align: center;
  border: 1px solid black;
  border-radius: 5%;
  width: 75%;
  position: relative;
  margin-top: 1%;
  margin-left: 13%;
}

/* formats the top and biggest picture */
#mainwork img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  height: 400px;
  width: 600px;
}

/* allows for a glow transition */
#mainwork,
#title {
  border-radius: 8px;
  transition: all 0.5s ease-in- out;
}

#mainwork:hover,
#mainwork:hover #title {
  box-shadow: inset 0px 0px 8px rgba(132, 158, 228, 1), 0 0 15px rgba(132, 158, 228, 1);
}

#allpics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.lastfour {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}

/* allows for a glow transition */
.fourworks,
#title2 {
  border-radius: 8px;
  transition: all 0.5s ease-in- out;
}

.fourworks:hover,
.fourworks:hover #title2 {
  box-shadow: inset 0px 0px 8px rgba(132, 158, 228, 1), 0 0 15px rgba(132, 158, 228, 1);
}

/* formats the four other pic areas */
.fourworks {
  background-color: var(--blue);
  max-width: fit-content;
  max-height: fit-content;
  padding: 20px;
  margin: 2em
}

.fourworks h3 {
  font-size: 1.5em;
  text-align: center;
  border: 1px solid black;
  border-radius: 5%;
  width: 75%;
  position: relative;
  margin-top: 5px;
  margin-left: 13%;
}

.fourworks img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  height: 300px;
  width: 400px;
}

/* formats the contact list */
#contactme ul {
  display: flex;
  list-style: none;
  font-size: 20px;
}

#contactme a {
  justify-content: space-around;
  padding: 14px 80px;
  list-style: none;
  text-decoration: none;
  text-align: center;
  color: black;
  font-weight: bold;
}

/* allows each link to change color when hovered over */
#contactme a:hover {
  color: var(--borderhover)
}

/* allows the nav and contact list to change to column when viewed on a tablet */
@media screen and (max-width: 992px) {

  nav ul,
  #contactme ul {
    flex-direction: column;
  }
}

/* allows the four pics to column when viewed on a phone */
@media screen and (max-width: 768px) {
  .lastfour {
    display: flex;
    flex-direction: column;
  }
}

#mainwork {
  flex: 1 0 100%;
  background-color: var(--blue);
  max-width: fit-content;
  max-height: fit-content;
  padding: 32px;
}

#mainwork img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  height: 300px;
  width: 450px;
}