* {
  box-sizing: border-box;
}

header {
  background-image: url("../images/background-header.jpg");
  height: 150px;
  width: 100%;
  object-fit: contain;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header h1 {
  font-size: 3em;
  padding-left: 1.5em;
  align-items: center;
}

header #coderpic {
  object-fit: contain;
  height: 120px;
  width: 150px;
  padding-right: 1em;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 4px solid black;
  border-top: 4px solid black;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav a {
  padding: 0 80px;
  text-decoration: none;
  font-size: 1.5em;
  text-align: center;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: rgb(99, 115, 206);
}

.card h2 {
  flex: 0 0 200px;
  font-size: 2em;
  padding: 0 10px;
  border-right: 1.25px solid rgb(99, 115, 206);
}

#main-wrapper {
  display: flex;
  flex-direction: column;
}

#allpics {
  justify-content: center;
}

.card {
  display: flex;
}

#mainwork h3 {
  font-size: 1.5em;
  text-align: center;
  border: 1px solid black;
  border-radius: 5%;
  width: 75%;
  position: relative;
  margin-top: 1%;
  margin-left: 13%;

}

#aboutme,
#contactme {
  align-items: center;
}

.card div {
  /* border-left: 1.25px solid rgb(99, 115, 206); */
  padding-left: 2em;
}

#allpics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

#mainwork {
  flex: 1 0 100%;
  background-color: rgb(230, 235, 249);
  max-width: fit-content;
  max-height: fit-content;
  padding: 32px;
}

.fourworks h3 {
  font-size: 1.5em;
  text-align: center;
  border: 1px solid black;
  border-radius: 5%;
  width: 75%;
  position: relative;
  margin-top: 5px;
  margin-left: 13%;
}

#mainwork img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  height: 400px;
  width: 600px;
}

.lastfour {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}

.fourworks img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  height: 300px;
  width: 400px;
}

.fourworks {
  flex: 1 0 100%;
  background-color: rgb(230, 235, 249);
  ;
  max-width: fit-content;
  max-height: fit-content;
  padding: 20px;
  margin: 2em
}

#contactme ul {
  display: flex;
  list-style: none;
  font-size: 20px;
}

#contactme a {
  justify-content: space-around;
  padding: 14px 80px;
  list-style: none;
  text-decoration: none;
  text-align: center;
  color: black;
  font-weight: bold;
}

#contactme a:hover {
  color: rgb(99, 115, 206);
}

@media screen and (max-width: 992px) {

  nav ul,
  #contactme ul {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .lastfour {
    display: flex;
    flex-direction: column;
  }

  #mainwork {
    flex: 1 0 100%;
    background-color: rgb(230, 235, 249);
    max-width: fit-content;
    max-height: fit-content;
    padding: 32px;
  }

  #mainwork img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    height: 300px;
    width: 450px;

    .fourworks {
      max-height: 400px;

    }
  }